<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flower.ourdiary.repository.UserAuthRepository">

    <insert id="insertUserAuth" useGeneratedKeys="true" keyProperty="seq">
        INSERT INTO user_auth(type, id, pw, user_seq)
        VALUES(
               #{type},
               #{id},
               #{pw},
               #{userSeq}
        )
    </insert>

    <select id="findUserAuthByTypeAndId" resultType="UserAuth">
        SELECT seq, type, id, pw, created_at, updated_at, user_seq
        FROM user_auth
        WHERE type = #{type}
        AND id = #{id}
    </select>

    <delete id="deleteUserAuthByUserSeq">
        DELETE FROM user_auth
        WHERE user_seq = #{userSeq}
    </delete>

</mapper>